@import './variables.scss';
@import './fonts.scss';

@import './header.scss';
@import './footer.scss';
@import './homePage.scss';
@import './modalWindow.scss';

input{
    width: 80%;
    height: 45px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #212527;
    border-radius: 7px;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding-left: 14px;
}

.signIn-form__password i {
    margin-top: 1%;
    margin-left: -2.5%;
    cursor: pointer;
    color: rgba(143, 143, 143, 0.3);
    position: absolute;
}

.signIn-form{
    width: 28%;
    height: 380px;
    margin: 7% auto auto auto;
    padding: auto;
    text-align: center;
    background-color: #23272A;
    box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
}

.signIn-form__sign{
    padding-top: 20px;
    font-size: 36px;
    color: white;
}
/*.show-password{
    width: 20px;
    height: 20px;
    margin: auto;
    margin-left: -10%;
    z-index: 4;
    background: url(../img/view-gray.png) no-repeat;
}*/
#SignInButton{
    background: #C51655;
    width: 80%;
    margin-top: 30px;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    outline: none;
    color: black;
    font-size: 24px;
}

.signIn-form__input-name{
    width: 80%;
    margin:20px auto 10px auto;
    font-size: 14px;
    text-align: left;
    color: #757575;
    font-family: 'Play', sans-serif;
}

.signIn-form__lastWords{
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

#SignInButton:hover{
    //box-shadow: 0px 4px 4px white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
