@import './variables.scss';
// @import './fonts.scss';
@import './header.scss';
@import './footer.scss';
@import './homePage.scss';

.container-block{
    width: 25%;
    height: 50vh;
    margin: 7% auto auto auto;
    padding: auto;
    text-align: center;
    background-color: $bg-block;
    box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif; 
    padding: 2% 2%;
    &--block{
        height: 100%;
        width: 100%;
    }
}
.block{
    &--name{
        font-size: 36px;
    }
    &--name-field{
        margin: 5% auto 1% auto;
        font-size: 14px;
        float: left;
        color: #757575;
        font-family: 'Play', sans-serif;
    }
    &--submit{
        background: #C51655;
        width: 100%;
        margin-top: 10%;
        height: 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        border: none;
        outline: none;
        color: black;
        font-size: 24px;  
    }
    &--submit:hover{
        box-shadow: 0px 4px 4px white;
        transition: 0.4s;
    }
    &--link{
        color: #757575;
        font-family: 'Roboto', sans-serif;
        margin-top: 20px;
    }
    &__container{
        display: flex;
        margin-top: 12%;
         &--show-password{
            width: 20px;
            height: 20px;
            margin: auto;
            margin-left: -10%;
            background: url(../img/view-gray.png) no-repeat;
        }
    }
}
.inpt-fields{
    width: 100%;
    height: 45px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #212527;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 14px;
}
.view{
    background: url(../img/no-view-gray.png) no-repeat;
}
