@import './header.scss';
@import './footer.scss';
@import './homePage.scss';

.container-form{
    width: 28%;
    height: 70vh;
    margin: 3% auto;
    padding: auto;
    text-align: center;
    background-color: #23272A;
    box-shadow:0 0 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    &__sign{
        padding-top: 20px;
        font-size: 36px;
        color: white;
    }
    &__input-name{
        width: 80%;
        margin:20px auto 10px auto;
        font-size: 14px;
        text-align: left;
        color: #757575;
        font-family: 'Play', sans-serif;
    }
    &__lastWords{
        color: #757575;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin-top: 20px;
    }
}

.input__field{
    width: 80%;
    height: 45px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
    background: #212527;
    border-radius: 7px;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding-left: 14px;
}

.input__field::placeholder{
    font-size: 18px;
    color: rgba(143, 143, 143, 0.3);
}

#SignUpButton{
    background: #13C9E2;
    width: 80%;
    margin-top: 30px;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    outline: none;
    color: black;
    font-size: 24px;
}
#SignUpButton:hover{
    //box-shadow: 0px 4px 4px white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}