/*@font-face {
    font-family: 'Roboto';
    src: url('/src/frontend/fonts/Roboto/Roboto-Regular.ttf')
}*/
@font-face {
    font-family: 'Kaushan-Script';
    src: url('../fonts/KaushanScript-Regular.ttf') format(truetype);
}
/*@font-face {
    font-family: 'Play';
    src: url('../fonts/Play/Play-Regular.ttf') format(truetype);
}*/