@import './variables';
@import './header.scss';
@import './footer.scss';
@import './homePage.scss';
@import './modalWindow.scss';
.content{
    width: 80%;
    height: 83vh;
    margin: 0 auto;
    background: $bg-main-page-content;
    border: 1px solid #323232;
    display: flex;
    &__block{
        &--left{
            width: 24%;
            overflow-y: scroll;
        }
        &--right{
            width: 100%;
            height: 100%;
            display: flex;   
        }
    }
}
.container-databases{
    &__bases{
        &--name{
            width: 90%;
            font-size: $primary-font-size;
            display: block;
            margin: 5% auto;
            background: $bg-name-and-dropdown;
            box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            text-align: center;
            padding: 2%;
        }
    }
    &__dropdown{
        overflow: hidden;
        width: 90%;
        margin: 5% auto;
        &--slct{
            width: 100%;
            display: block;
            margin: 0 auto;
            padding-left: 7%;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.5);
            outline: none;
            background: $bg-name-and-dropdown;
            color: $color-btn-active;
            cursor: pointer;
            height: 30px;
            font-size: $primary-font-size;
            text-align: left;
            
        }
        .change-border{
            border-radius: 10px 10px 0 0;
        }
        &--content {
            display: none;
            background: rgba(35, 39, 42, 1);
            border-radius:  0 0 10px 10px;
            padding: 7px;
            padding-left: 7%;
            border-bottom: none;
            border-top: 2px solid #C9C9C9;
            cursor: pointer;
            z-index: 1;
        }
        .content-hover:hover, .content-hover-bases:hover{
            color: $color-btn-hover;
        }
    }
    .showDropdown{
        display: block;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
}
.container-create{
    width: 90%;
    height: auto;
    display: block;
    margin: 5% auto;
    background: #23272a;
    border-radius: 10px;
    padding: 2%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    &--name{
        font-size: 20px;
    }
    &--error{
        margin-top: 5%;
        color: cornflowerblue;
    }
    &--fields{
        font-size: 16px;
        height: 30px;
        border: none;
        outline: none;
        background: #212527;
        box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 50%) inset;
        border-radius: 5px;
        padding: 1%;
        width: 90%;
        margin: 3% auto;
    }
    &--btn{
        height: 30px;
        border: none;
        outline: none;
        border-radius: 3px;
        font-size: 24px;
        color: black;
        background: $color-modal-window-btn;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        width: 90%;
        margin: 3% auto;
    }
    &--btn:hover{
        color: white;
    }
}
.show-create{
    opacity: 1;
    visibility: visible;
}
.arrow{
    width: 20px;
    height: 20px;
    float: right;
    margin: 0 5%;
    background: url(../img/arrow.png);
    background-size: cover;
}
.block{
    &__main{
        width: 98%;
        height: 95%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
        overflow-y: scroll;
        &__name-fields{
            width: 88%;
            // width: 95%;
            margin: 2% auto 0 auto;
            height: 30px;
            display: flex;  
            &__item{
                width: 16%;
                background: #1C1F21;
                border-right: 1px solid #474747;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .--left-top{
                border-radius: 10px 0 0 0;
            }
            .--right-top{
                border-radius:  0 10px 0 0; 
            }
            &__item:nth-child(7){
                border: none;
            }
        }
        &--panel{
            width: 95%;
            height: 10%;
            margin: 2% auto;
            padding: 2%;
        }
        .panel{
            &__btn{
                width: 100px;
                height: 24px;
                padding: 2px;
                margin-right: 2%;
                border-radius: 5px;
                box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.25);
                &--create{
                    background: url(../img/create.png) no-repeat;
                }
                &--update{
                    background: url(../img/update.png) no-repeat;
                }
                &--delete{
                    background: url(../img/delete.png) no-repeat;
                }
                &--clear-all{
                    background: url(../img/clear-all.png) no-repeat;
                }
            }
            &__btn:hover{
                box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.5); 
            }
            .--create{
                background: rgba(5, 121, 229, 0.96);
            }
            .--create{
                background: rgba(5, 121, 229, 0.96);
            }
            .--update{
                background: rgba(33, 190, 68, 0.92);
            }
            .--delete{
                background: #EAA640;
            }
            .--clear{
                background: #D73131;
            }
            &__search{
                width: 17%;
                height: 25px;
                float: right;
                margin-left: 2%;
                padding: 2px;
                border: none;
                border-radius: 5px;
                background: #35393B;
            }
            &__search .input {
                all: unset;
            }
            &__search .output{
                width: 79%;
            }
        }
        &--table{
            width: 95%;
            margin: 0 auto 0 auto;
            border-radius: 10px;
        }
    }
}
.icons-btn{
    width: 15px;
    height: 15px;
    background-size: cover;
    float: right;
    margin: 2px 5px 2px 2px ;
}
.table{
    &__main{
        width: 93%;
        margin: auto;
        height: 50px;
        display: flex;
        &__item{
            width: 16%;
            background:rgba(53, 57, 59, 1);
            border: 1px solid #323232;
            text-align: center;
            padding: 2% 0 0 0;
            &--inpt{
                width: 96%;
                height: 100%;
                border: none;
                outline: none;
                background: #35393b;
            }
        }
        .--right-bottom{
            border-radius:  0  0 10px 0 ;
        }
        .--left-bottom{
            border-radius: 0 0 0 10px;
        }    
    }
    
}
.small{
    width: 10.5%;
}
.change-border-add{
    border: 0;
}
.show-btn-delete{
    width: 12px;
    height: 12px;
    float: right;
    margin: -12% 0 0 0;
    cursor: pointer;
    background: url(../img/delete.png) no-repeat;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: $primary-color-bg;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #35393b;
}

.row-active{
    .table__main__item{
        background-color: #EAA640;
    }
}

